{% from 'src/templates/partials/link.html' import twitterlink, githublink, homelink %}


{% macro authorlink(author, type='gplus_url', itemprop=null) -%}
  <a title="{{ author.name }}"
    alt="{{ author.name }}"
    href="{{ author[type] }}"
    rel="author"
    target="_blank"
    {% if itemprop %}itemprop="{{ itemprop }}"{% endif %}>
    {{ author.name }}
  </a>
{%- endmacro %}


{% macro authorcard(author) %}
  <div>
    <h3>{{ author.name }}</h3>
    <img src="{{ author.image|urlresolve }}" alt="{{ author.name }}" />
    <p>{{ author.bio }}</p>
    <ul>
      <li>{{ twitterlink(username=author.twitter) }}</li>
      <li>{{ githublink(username=author.github) }}</li>
      <li>{{ homelink(host=author.site) }}</li>
    </ul>
  </div>
{% endmacro %}
