{% from 'src/templates/partials/author.html' import authorlink %}
{% from 'src/templates/partials/tag.html' import taglink, taglist %}
{% from 'src/templates/partials/reference.html' import reference %}


{% macro post(data) %}
  <article>
    <header>
      {% if data.tags %}
        <small>{{ taglink(data.tags[0]) }}</small>
      {% endif %}
      <h1>{{ data.title }}</h1>
      <small>por {{ authorlink(data.author) }}</small>
    </header>

    <figure>
      <img src="/{{ data.image }}" />
    </figure>

    <section>{{ data.contents }}</section>

    <footer>
      <p>
        <time datetime="{{ data.date }}">Publicado em {{ data.date }}</time>
        {% if data.tags %}
          {{ taglist(data.tags) }}
        {% endif %}
      </p>
      {% if data.references %}
        {{ reference(data.references) }}
      {% endif %}
    </footer>
  </article>
{% endmacro %}
