{% from 'src/templates/partials/author.html' import authorlink %}
{% from 'src/templates/partials/tag.html' import taglink, taglist %}
{% from 'src/templates/partials/time.html' import time %}
{% from 'src/templates/partials/reference.html' import reference %}


{% macro postview(post) %}
  <article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
      {% if post.tags %}
        <small>{{ taglink(post.tags[0]) }}</small>
      {% endif %}
      <h1 itemprop="headline">{{ post.title }}</h1>
      <small>por {{ authorlink(post.author, itemprop='author') }}</small>
    </header>

    <figure>
      <img src="{{ post.image|urlresolve }}"
        alt="{{ post.title }}"
        itemprop="thumbnailUrl" />
    </figure>

    <section itemprop="articleBody">{{ post.contents }}</section>

    <footer>
      <p>
        Publicado em {{ time(post.date, itemprop='datePublished') }}
        {% if post.tags %}
          {{ taglist(post.tags) }}
        {% endif %}
      </p>
      {% if post.references %}
        {{ reference(post.references) }}
      {% endif %}
    </footer>
  </article>
{% endmacro %}


{% macro postpreview(post) %}
  <article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
      <h1>
        <a href="{{ post.path|urlresolve }}" itemprop="headline">
          {{ post.title }}
        </a>
      </h1>
      <small>
        por {{ authorlink(post.author, itemprop='author') }}
        em {{ time(post.date, itemprop='datePublished') }}
      </small>
    </header>

    <figure>
      <a href="{{ post.path|urlresolve }}">
        <img src="{{ post.image|urlresolve }}"
          alt="{{ post.title }}"
          itemprop="thumbnailUrl" />
      </a>
    </figure>

    <section itemprop="description">{{ post.excerpt }}</section>

    <footer>
      <a href="{{ post.path|urlresolve }}" itemprop="url">Continue lendo</a>
    </footer>
  </article>
{% endmacro %}
