/* Reset
---------------------------------------- */
* {
	margin:0;
	padding:0;
}

/* 
---------------------------------------- */
body {
	background: url(../images/bg.png) #F2F2F2;
	border-top:5px solid #666666;
	font-family: "Lucida Grande";
}

#wrapper {
	position:absolute;
	left:50%;
	width:900px;
	margin-left:-350px;
	padding-bottom: 50px;
}

/* Diversos
---------------------------------------- */

.bold {
	font-weight: bold;
	color: #333;
}

/* Nav
---------------------------------------- */
header#main {
	position:relative;
	height:165px;
}

	header#main a#logo {
		text-indent: -9999px;
		background-image:url(../images/loop-infinito-logo.png);
		width:173px;
		height:30px;
		display:block;
		position:absolute;
		top:80px;
	}

	header#main nav {
		position:absolute;
		right:8px;
		top:15px;
	}

		header#main nav ul {
			list-style: none;
		}

			header#main nav ul li {
				float:left;
				margin:0 0 0 30px;
				color:#666;
			}

		header#main nav a {
			line-height: 25px;
			text-decoration: none;
			color: #666;
			font-size:16px;
		}

		header#main nav a:hover {
			color: #000;
		}

		header#main nav input[type=search] {
			border:0;
			height: 25px;
			font-size:14px;
			background: url(../images/lupa.png) no-repeat 5px center;
			padding-left:20px;
			outline: none;
			border-radius: 10px;
			-webkit-appearance:none;
			visibility: hidden;
		}

		header#main nav input[type=search]::-webkit-input-placeholder {
			color:#999;
		}
		
		header#main nav input[type=search]:hover {
			background-color: rgba(255, 255, 255, 0.4);
		}
		
		header#main nav input[type=search]:hover::-webkit-input-placeholder {
			color: #000;
		}

		header#main nav input[type=search]:focus {
			background-color: #fff;
		}

/* ------ Content ------------------------------------*/

#content {
	/*padding-bottom:50px;*/
}

	#content h1, h2, h3 {
		font-family: Museo, "Helvetica Neue", Helvetica, sans-serif;
		color: #666;
		letter-spacing: -0.05em;
		font-weight:300;
	}

		#content h1 span, h2 span, h3 span {
			color: #333;
		}

		#content h1 span.light, h2 span.light, h3 span.light {
			color: #999;
		}

	#content h1 {
		font-size:46px;
		line-height: 100%;
		margin-bottom:35px;
	}

		#content h1 a {
			text-decoration: none !important;
			color: #666;
		}

		#content h1 a:hover {
			text-decoration: underline !important;
		}

	#content h2 {
		font-size: 28px;
	}

	#content h3 {
		font-size: 22px;
	}

	#content .post-container {
		position:relative;
	}

	#content .post-container article {
		width:600px;
		background-color:white;
		padding: 45px 50px 0px 50px;
		line-height:200%;
		color:#666;
		border: 1px solid #CCCCCC;
		font-family:  "Helvetica Neue", Helvetica, sans-serif;
		font-weight: 300;
		font-size:15px;
/*		text-align: justify;*/
		margin:100px 0 0 0;
		box-shadow: 3px 5px 0 rgba(0, 0, 0, 0.06);
	}
		#content .post-container p > code,
		#content .post-container section > code {
			background-color: #EFEFEF;
			padding: 3px;
			border-radius: 3px;
			color: #555;
		}

		#content .post-container pre {
			width: 600px;
			position: relative;
			left: -50px;
			padding: 0px 50px 20px 50px;
		}

	#content .post-container:first-child article {
		margin:0;
	}

		#content .post-container article section {
			padding-bottom: 45px;
		}

		#content .post-container article p {
			margin:25px 0;
			-webkit-hyphens:auto;
		}

		#content .post-container article > section > ul,
		#content .post-container article > section > ol {
			margin:25px 0;
			list-style-position: inside;
			-webkit-hyphens:auto;
		}

		#content .post-container article > section > li {
			margin: 5px 0px;
		}

		#content .post-container article a {
			text-decoration: underline;
			color: #666;
		}

		#content .post-container article a:hover {
			color: #333;
		}

			#content .post-container article p img {
				position:relative;
				left:-50px;
				width:700px;
			}

			#content .post-container article p img.bordered {
				border-top: 1px solid #ddd;
				border-bottom: 1px solid #ddd;
			}

		#content .post-container article pre.prettyprint {
			position:relative;
			left:-50px;
			width:600px;
			padding:10px 50px;
			font-size:14px;
		}

		#content .post-container article a.leia-mais {
			display: block;
			color: #333;
			font-weight: bold;
			margin-top: 20px;
		}

		#content .post-container aside.fonte {
			font-size: 12px;
			width: 600px;
			position: relative;
			left: -50px;
			border-top: 1px dashed #CCC;
			padding: 25px 50px 20px 50px;
			margin-bottom: -40px;
			background: #f5f5f5;
			background: -webkit-linear-gradient(#f5f5f5,#FAFAFA);
		}

			#content .post-container aside.fonte ul {
				list-style: none;
			}

				#content .post-container aside.fonte ul li {
					line-height: 175%;	
				}

				#content .post-container aside.fonte ul a {
					color: #999;
					font-weight: normal;
				}

				#content .post-container aside.fonte ul a:hover {
					color: #555;
				}

				#content .post-container aside.fonte ul .comment {
					color: #ccc;
					font-family: monospace;
					padding-left: 4px;
				}

/* Post Meta
---------------------------------------- */
aside.post-meta {
	width:170px;
	position:absolute;
	right:0;
	font-size:14px;
	color:#999999;
	text-shadow:0px 2px 0px white;
	opacity:0.8;
	font-size: 13px;
}

	aside.post-meta a {
		color: #999;
		text-decoration: none;
	}
	
		aside.post-meta a:hover {
			color: #333;
			text-decoration: underline;
		}

	aside.post-meta ul {
		list-style: none;
	}

	aside.post-meta li {
		margin:20px 0 0 0;
		height:20px;
		padding:0 0 0 35px;
		line-height: 20px;
	}

	aside.post-meta li.post-data {
		background:url(../images/clock.png) no-repeat 3px center;
	}

	aside.post-meta li.post-autor {
		background:url(../images/author.png) no-repeat 2px center;
	}

	aside.post-meta li.post-comentarios {
		background:url(../images/comentarios.png) no-repeat 2px center;
	}

	aside.post-meta li.post-compartilhar {
		background:url(../images/compartilhar.png) no-repeat left top;
	}

	aside.post-meta li.post-tags {
		background:url(../images/tags.png) no-repeat 5px 6px;
		margin-top: 15px;
		padding-bottom: 2px;
	}
	
		aside.post-meta li.post-tags li {
			display: inline;
			padding: 0px;
			line-height: 24px;
		}
		
			aside.post-meta li.post-tags li a span {
				color: #555;
			}
			
			aside.post-meta li.post-tags li a:hover span {
				color: #333;
			}

 
 /* article footer: comments 
 ---------------------------------------------------------------*/

footer#disqus_thread {
	background-color: #ddd;
	padding: 20px 50px 0px 50px;
	width: 600px;
	position: relative;
	left: -50px;
	margin-bottom: 0px;
	line-height: none !important;
	font-size: 14px;
	min-height: 43px;
}

#dsq-account-dropdown a {
	font-size: 13px;
}

section#disqus-power {
	text-align: right;
	line-height: 40px;
	margin-right: 200px;
}

	section#disqus-power a {
		color: #999;
		text-decoration: none;
	}

	section#disqus-power a:hover {
		text-decoration: underline;
	}

.dsq-textarea.dsq-textarea-reply {
	margin-bottom: 30px !important;
}

#dsq-comments {
	background-color: #fff;
	padding: 0px 50px !important;
	width: 100%;
	position: relative;
	left: -50px;
}

	#dsq-comments span.dsq-like-thumb {
		position: relative !important;
		bottom: 5px !important;
	}

#dsq-content .dsq-comment {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	padding-top: 20px;
}

	#dsq-content > h3 {
		display: none;
	}

	#dsq-content #dsq-reply h3 {
		font-size: 28px;
		margin:0 0 25px 0;
	}

#dsq-pagination {
	background-color: #fff;
	padding: 20px 50px !important;
	width: 100%;
	position: relative;
	left: -50px;
}