---
---
/* Reset
---------------------------------------- */
* {
	margin: 0;
	padding: 0;
}

// Variaveis gerais
// -------------------------------------
@images-url: '../images';
@fonts-url: '../fonts';
@icons-sprite: '@{images-url}/icons_sprite.png';

/* Fontfaces
---------------------------------------- */
@font-museo: 'museo300-regular-webfont';

@font-face {
  font-family: 'MuseoRegular';
  src: url('@{images-url}/@{font-museo}.eot');
  src: url('@{images-url}/@{font-museo}.eot?#iefix') format('embedded-opentype'),
       url('@{images-url}/@{font-museo}.woff') format('woff'),
       url('@{images-url}/@{font-museo}.ttf') format('truetype'),
       url('@{images-url}/@{font-museo}.svg#Museo300Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* 
---------------------------------------- */
body {
	background: url('@{images-url}/bg.png') #F2F2F2;
	font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-top: 5px solid #666;
}

#wrapper {
	position: absolute;
	left: 50%;
	width: 900px;
	margin-left: -350px;
}

#links {
	position: fixed;
	margin: 15px;
	bottom: 0px;
	list-style: none;
	display: block;
	z-index: 100;
	width: 200px;

	div {
		width: 30px;
		float: left;
		text-align: center;
	}

	li {
		display: block;
		height: 40px;

		&.twitter {
			div {
				padding-top: 10px;

				a {
					height: 22px;
					background-position: -219px -8px;
				}
			}
		}

		&.fork {
			div {
				padding-top: 5px;

				a {
					height: 32px;
					background-position: -254px -4px;
				}
			}
		}

		&.rss {
			div {
				padding-top: 10px;

				a {
					height: 22px;
					background-position: -291px -8px;
				}
			}
		}
	}

	a {
		display: block;
		outline:1px solid black;
		width: 30px;
		background: url(@icons-sprite) no-repeat;
		opacity: 0.2;
		-o-opacity: 0.2;
		-moz-opacity: 0.2;
		-webkit-opacity: 0.2;
		filter:alpha(opacity=20);
		transition: opacity 0.5s ease;
		-o-transition: opacity 0.5s ease;
		-moz-transition: opacity 0.5s ease;
		-webkit-transition: opacity 0.5s ease;
	
		&:hover {
			opacity: 0.5;
			-o-opacity: 0.5;
			-moz-opacity: 0.5;
			-webkit-opacity: 0.5;
			filter:alpha(opacity=50);
		}
	}

	span {
		display: block;
		float: left;
		line-height: 40px !important;
		color: #aaa;
		font-family: Museo, MuseoRegular, Georgia, Times, serif;
		font-size: 12px;
		font-weight: 300;
		line-height: 16px;
		margin-left: 0px;
		opacity: 0;
		-o-opacity: 0;
		-moz-opacity: 0;
		-webkit-opacity: 0;
		filter:alpha(opacity=0);
		transition: opacity 0.5s ease, margin-left 0.5s ease;
		-o-transition: opacity 0.5s ease, margin-left 0.5s ease;
		-moz-transition: opacity 0.5s ease, margin-left 0.5s ease;
		-webkit-transition: opacity 0.5s ease, margin-left 0.5s ease;

		&.show {
			opacity: 1;
			-o-opacity: 1;
			-moz-opacity: 1;
			-webkit-opacity: 1;
			filter:alpha(opacity=1);
			margin-left: 15px;
		}

		strong {
			color: #888;
		}
	}
}

/* Diversos
---------------------------------------- */

.bold,
strong {
	font-weight: bold;
}

.clear {
	clear: both;
	height: 0px;
	overflow: hidden;
}

.hidden {
	display: none;
}

/* Icons 
---------------------------------------- */
.icon {
	display: inline-block;
	width: 29px;
	height: 29px;
	background: url(@icons-sprite) no-repeat #444;
	border-radius: 15px;
	-webkit-transition: background-color 0.3s ease;

	&:hover {
		background-color: #777;
	}

	&.twitter {
		background-position: -219px -39px;

		&:hover {
			background-color: #32CCFE;
		}
	}

	&.github {
		background-position: -38px -39px;
	
		&:hover {
			background-color: #000;
		}
	}

	&.email {
		background-position: -3px -40px;
	
		&:hover {
			background-color: #FFCC00;
		}
	}

	&.linkedin {
		background-position: -75px -40px;

		&:hover {
			background-color: #006599;
		}
	}

	&.coderwall {
		background-position: -147px -40px;

		&:hover {
			background-color: #FF6600;
		}
	}

	&.portfolio {
		background-position: -111px -39px;

		&:hover {
			background-color: #99CC00;
		}
	}

	&.speakerdeck {
		background-position: -255px -39px;

		&:hover {
			background-color: #289678;
		}
	}
}

/* Nav
---------------------------------------- */
header#main {
	position: relative;
	height: 165px;

	a#logo {
		text-indent: -9999px;
		background-image: url('@{images-url}/loop-infinito-logo.png');
		width: 173px;
		height: 30px;
		display: block;
		position: absolute;
		top: 80px;
	}

	nav {
		position: absolute;
		right: 200px;
		top: 10px;

		ul {
			list-style: none;

			li {
				float: left;
				margin: 0 0 0 30px;
				color: #666;

				a {
					line-height: 25px;
					text-decoration: none;
					color: #666;
					font-size: 16px;
					opacity: 0.5;					
					text-shadow: 0px 2px 0px white;

					&.menu-ativo {
						opacity: 1;
					}

					&:hover {
						color: #000;
						text-decoration: underline;
						opacity: 1;
					}
				}
			}
		}
	}
}

/* ------ Content ------------------------------------*/

#content {

	h1, h2, h3 {
		font-family: Museo, MuseoRegular, Georgia, Times, serif;
		color: #666;
		letter-spacing: -0.05em;
		font-weight:300;

		span {
			color: #333;

			&.light {
				color: #999;
			}
		}
	}

	h1 {
		font-size:46px;
		line-height: 100%;
		margin-bottom:35px;

		a {
			text-decoration: none !important;
			color: #666;
		
			&:hover {
				text-decoration: underline !important;
			}
		}
	}

	h2 {
		font-size: 28px;

		&.tagged {
			color: #ccc;
			margin-bottom: 20px;
			font-weight: 400;

			a {
				&.tag {
					font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
					font-weight: 100;
					color: #999;
					margin-left: 5px;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}

					span {
						width: 20px;
						height: 20px;
						margin-right: 6px;
						display: inline-block;
						background: url(@icons-sprite) no-repeat -7px -7px;
						opacity: 0.5;
						-moz-opacity: 0.5;
						filter:alpha(opacity=5);
					}
				}
			}
		}
	}

	h3 {
		font-size: 22px;
	}

	.post-container {
		position: relative;
		margin-bottom: 100px;

		article {
			width: 600px;
			background-color: white;
			padding: 45px 50px 0px 50px;
			line-height: 200%;
			color: #666;
			border: 1px solid #CCCCCC;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-weight: 300;
			font-size: 15px;
			box-shadow: 3px 5px 0 rgba(0, 0, 0, 0.06);

			code {
				background-color: #EFEFEF;
				padding: 3px;
				border-radius: 3px;
				color: #555;
				font-size: 12px;
				font-family: Monaco, monospace;
			}

			pre {
				width: 600px;
				position: relative;
				left: -50px;
				padding: 30px 50px 30px 50px;
				font-size: 12px;
				line-height: 160%;
				background-color: #333;
				white-space: pre-wrap;
				color: whiteSmoke;
				margin: 25px 0;

				code {
					background: none;
					color: white;
					line-height: 4px;
				}

				&.prettyprint {
					position: relative;
					left: -50px;
					width: 600px;
					padding: 10px 50px;
					font-size: 14px;
				}
			}

			p {
				margin: 25px 0;
				-webkit-hyphens: auto;
			}

			> section {
				padding-bottom: 45px;

				> ul, > ol {
					margin: 25px 0;
					list-style-position: inside;
					-webkit-hyphens: auto;
				}

				> li {
					margin: 5px 0px;
				}

				.img,
				img {
					position: relative;
					left: -50px;
					width: 700px;
				}

				img {
					background-color: white;
					background-image: 
						-webkit-linear-gradient(45deg, #EEE 25%, transparent 25%, transparent 75%, #EEE 75%, #EEE),
						-webkit-linear-gradient(45deg, #EEE 25%, transparent 25%, transparent 75%, #EEE 75%, #EEE);
					background-size: 30px 30px;
					background-position: 0 0, 15px 15px;

					.bordered {
						border-top: 1px solid #ddd;
						border-bottom: 1px solid #ddd;
					}
				}
			}

			a {
				text-decoration: underline;
				color: #666;

				&:hover {
					color: #333;
				}

				&.leia-mais {
					display: block;
					color: #333;
					font-weight: bold;
					margin-top: 20px;
				}
			}
		} // fim de article

		aside.fonte {
			font-size: 12px;
			width: 600px;
			position: relative;
			left: -50px;
			border-top: 1px dashed #CCC;
			padding: 25px 50px 30px 50px;
			margin-bottom: -45px;
			background: #f5f5f5;
			background: -webkit-linear-gradient(#f5f5f5,#FAFAFA);

			h3 {
				margin-bottom: 12px;
			}

			ul {
				list-style: none;

				li {
					line-height: 175%;
				}

				a {
					color: #999;
					font-weight: normal;
					margin-left: 6px;

					&:hover {
						color: #555;
					}
				}

				.comment {
					color: #ccc;
					font-family: monospace;
					padding-left: 4px;
				}
			}
		} // fim de aside.fonte
	} // fim de .post-container
} // fim de #content

/* Post Meta
---------------------------------------- */
aside.post-meta {
	width:170px;
	position:absolute;
	right:0;
	font-size:14px;
	color:#999999;
	text-shadow:0px 2px 0px white;
	opacity:0.8;
	font-size: 13px;

	a {
		color: #999;
		text-decoration: none;
	
		&:hover {
			color: #333;
			text-decoration: underline;
		}
	}

	ul {
		list-style: none;
	}

	li {
		margin: 20px 0 0 0;
		height: 20px;
		line-height: 20px;
		position: relative;

		span.icon-aside {
			width: 20px;
			height: 16px;
			position: absolute;
			top: 3px;
			background: url(@icons-sprite) no-repeat;
			opacity: 0.5;
			-moz-opacity: 0.5;
			filter:alpha(opacity=5);
		}

		> a {
			margin-left: 32px;
			display: inline-block;
		}

		&.post-data {

			span.icon-aside {
				background-position: -189px -10px;
			}

			time {
				margin-left: 32px;
			}
		}

		&.post-autor span.icon-aside {
			background-position: -153px -10px;
		}

		&.post-comentarios {
			height: auto;
			min-height: 20px;

			span.icon-aside {
				background-position: -117px -10px;
			}
		}

		&.post-compartilhar span.icon-aside {
			background-position: -79px -10px;
		}

		&.post-tags {
			margin-top: 15px;
			padding-bottom: 2px;
		
			span.icon-aside {
				background-position: -8px -10px;
			}

			ul {
				margin-left: 32px;
			}

			li {
				display: inline;
				padding: 0px;
				line-height: 24px;
			
				a {
					margin-left: 0px;

					span {
						color: #555;
					}

					&:hover {
						span {
							color: #333;
						}
					}
				}
			}
		}
	} // fim de li
} // fim de aside.post-meta
 
 /* article footer: comments 
 ---------------------------------------------------------------*/
footer#disqus_thread {
	background-color: #ddd;
	padding: 20px 50px 0px 50px;
	width: 600px;
	position: relative;
	left: -50px;
	margin-bottom: 0px;
	line-height: none !important;
	font-size: 14px;
	min-height: 43px;

	h3.dsq-h3-reactions {
		display: block !important;
		background: white;
		margin: 0px !important;
		padding: 0 50px 20px 50px !important;
		position: relative !important;
		left: -50px !important;
		width: 600px;
	}

	.dsq-textarea.dsq-textarea-reply {
		margin-bottom: 30px !important;
	}
}

#dsq-content-stub img {
	background-color: #DDD !important;
	background-image: none !important;
}

#dsq-account-dropdown a {
	font-size: 13px;
}

#dsq-comments {
	background-color: #fff;
	padding: 0px 50px !important;
	width: 100%;
	position: relative;
	left: -50px;

	li.dsq-moderator {

		div.dsq-comment-header {
			background-color: #ddd;

			.dsq-commenter-name {
				color: white;
				text-shadow: 0px -1px 0px #999;
				-moz-text-shadow: 0px -1px 0px #999;
			}
		}
	}

	span.dsq-like-thumb {
		position: relative !important;
		bottom: 5px !important;
	}

	div.dsq-comment-header {

		a.dsq-commenter-name {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	div.dsq-comment-footer {

		a {
			text-decoration: none !important;

			&:hover {
				text-decoration: underline !important;
			}
		}
	}
}

#dsq-content {

	.dsq-comment {
		margin-top: 0px !important;
		margin-bottom: 0px !important;
		padding-top: 20px;
	}

	> h3 {
		display: none;
	}

	#dsq-reply {

		h3 {
			font-size: 28px;
			margin: 0px 0px 25px 0px;
		}
	}

	#dsq-global-toolbar {

		.dsq-global-toolbar-left {

			li {

				// botão de dislike do disqus
				&.dsq-dislike-thread {
					display: none;
				}

				// botão de like do disqus
				&.dsq-like-thread {
					margin-right: 5px;
				}
			}
		}
	}
}

#dsq-pagination {
	background-color: #fff;
	padding: 20px 50px !important;
	width: 100%;
	position: relative;
	left: -50px;
}

#dsq-reactions {
	background: white;
	padding: 0px 50px 30px 50px !important;
	width: 600px;
	position: relative;
	left: -50px;
}

#disqus-power {
	display: none;
}