pre .support {
	color: #FFB3D2;
}

pre .tag-name {
	color: #F91F72;
}

pre .attribute {
	color: #8DB727;
}

pre .string {
	color: #E6C864;
}

pre .keyword {
  color: #F91F72;
}

pre .function {
  color: #A6E22A;
}

pre .entity {
  color: #54D2EF;
}