
@media only screen and (max-width: 1000px) {

    aside.post-meta {
        opacity: 0;
    }
}

@media only screen and (max-width: 900px) {

    header#main {

        nav {
            right: 40px;
        }

        .search-button {
            right: 10px;
        }
    }

}

@media only screen and (max-width: 850px) {

    aside.post-meta {
        display: none;
    }

}

@media only screen and (max-width: 810px) {

    #links {
        opacity: 0;
    }

}

@media only screen and (max-width: 700px) {

    header#main {

        a#logo {
            left: 30px;
        }
    }

    #links {
        display: none;
    }

}

@media only screen and (max-width: 400px) {

    header#main {

        nav {
            ul {
                li {
                    margin: 0 10px;
                }
            }
       }
    }
}

@media only screen and (max-width: 350px) {

    header#main {

        nav {
            ul {
                li {
                    margin: 0 5px;
                }
            }
       }
    }
}

@media only screen and (max-width: 310px) {

    header#main {

        nav {
            ul {
                li a {
                    font-size: 14px;
                }
            }
       }
    }
}

