
@media only screen and (max-width: 1000px) {
    aside.post-meta {
        opacity: 0;
    }
}

@media only screen and (max-width: 900px) {
    header#main {
        nav {
            right: 40px;
        }
        .search-button {
            right: 10px;
        }
    }

}

@media only screen and (max-width: 850px) {
    aside.post-meta {
        display: none;
    }
}

@media only screen and (max-width: 810px) {
    #links {
        opacity: 0;
    }
}

@media only screen and (max-width: 700px) {
    header#main {
        a#logo {
            left: 30px;
        }
    }
    #links {
        display: none;
    }
    #content {
        .post-container {
            margin-bottom: 0;
            border-bottom: 1px solid #ccc;
            article {
                padding-bottom: 20px !important;
                border-width: 0;
                .box-shadow(0, 0, 0, rgba(0, 0, 0, 0));
                a.leia-mais {
                    margin-top: 0;
                }
            }
            &:first-child {
                article {
                    border-top-width: 1px;
                }
            }
        }
    }
    #post-pagination {
        margin: 50px 0 30px;
    }
}

@media only screen and (max-width: 699px) {
    section.talk {
        div.log,
        div.info {
            float: none;
            width: 100%;
        }
        div.log {
            margin-top: 40px;
        }
    }
    article.projects {
        section.project {
            div.content {
                padding: 0 20px;
            }
        }
    }
}

@media only screen and (max-width: 460px) {
    #content h1 {
        font-size: 36px;
    }

    #content {
        .post-container {
            article {
                padding: 40px 10%;

                > section .img,
                > section img {
                    left: -13%;
                    width: 126%;
                }
            }
        }
    }

    section.talk {
        header figure img {
            width: 113%;
            margin-left: -6.5%;
        }
    }

    section.author {
    }
}

@media only screen and (max-width: 401px) {
    article.projects {
        section.project {
            .project-icon {
                width: 100%;
                height: 100%;
            }
            div.content {
                width: 100%;
                padding: 20px 30px 0;
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    #content h1 {
        font-size: 34px;
    }

    header#main {
        nav {
            ul {
                li {
                    margin: 0 10px;
                }
            }
       }
    }
}

@media only screen and (max-width: 350px) {
    #content h1 {
        font-size: 32px;
    }

    header#main {
        nav {
            ul {
                li {
                    margin: 0 5px;
                }
            }
       }
    }
}

@media only screen and (max-width: 310px) {
    #content h1 {
        font-size: 28px;
    }

    header#main {
        nav {
            ul {
                li a {
                    font-size: 14px;
                }
            }
       }
    }
}

