{% extends 'src/templates/layouts/base.html' %}
{% from 'src/templates/partials/preview.html' import preview %}


{% block content %}

  {% if pagination.files %}
    <ul>
    {% for post in pagination.files %}
      <li>{{ preview(post.title, post.path) }}</li>
    {% endfor %}
    </ul>

    {% if pagination.previous %}
      <a href="/{{ pagination.previous.path }}">prev</a>
    {% endif %}
    {% if pagination.next %}
      <a href="/{{ pagination.next.path }}">next</a>
    {% endif %}
  {% else %}
    Nenhum post.
  {% endif %}

{% endblock %}