{% extends 'src/templates/layouts/base.html' %}
{% from 'src/templates/partials/post.html' import postpreview %}
{% from 'src/templates/partials/pagination.html' import pagination as paginationButtons %}


{% block header %}{% endblock %}


{% block content %}

  {% if pagination.files %}
    {% for post in pagination.files %}
      {{ postpreview(post) }}
    {% endfor %}

    {{ paginationButtons(pagination.previous, pagination.next) }}
  {% else %}
    Nenhum post.
  {% endif %}

{% endblock %}
