{% include head.html %}

		<section id="content">

			<section class="post-container">
				<aside class="post-meta">
					<ul>
						<li class="post-data">{{ page.date | date: "%d/%m/%Y" }}</li>
						<li class="post-autor"><a href="{{ page.author_link }}">{{ page.author }}</a></li>
						<li class="post-comentarios"><a href="{{ page.url }}#disqus_thread" data-disqus-identifier="{{page.id}}">Carregando...</a></li>
						{% unless page.tags == empty %}
						<li class="post-tags">
							<ul>
								{% for tag in page.tags %}
								<li><a href=""><span>#</span>{{ tag }}</a></li>,
								{% endfor %}					
							</ul>
						</li>
						{% endunless %}
					</ul>	
				</aside>
				<article>
					<header>
						<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
					</header>
					<section>						
						{{ content }}						
					</section>
					{% if page.comments %}
					<footer id="disqus_thread">
						<noscript>Por favor, habilite JavaScript para ver os comentários. <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
					</footer>
					{% endif %}
				</article>
			</section>

			<section id="disqus-power">
				<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
			</section>

		</section>

{% include end_post.html %}