{% include head.html %}

		<section id="content">

			<section class="post-container" itemscope itemtype="http://schema.org/BlogPosting">
				<span class="hidden" itemprop="publisher">Loop Infinito</span>
				<aside class="post-meta">
					<ul>
						<li class="post-data">
							<time itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%d/%m/%Y" }}</time>
						</li>
						<li class="post-autor">
							<a href="{{ page.author_link }}" title="{{ page.author }}" alt="{{ page.author }}" rel="author" itemprop="author">{{ page.author }}</a>
						</li>
						{% if page.comments %}
							<li class="post-comentarios"><a href="{{ page.url }}#disqus_thread" data-disqus-identifier="{{page.id}}" itemprop="interactionCount">Carregando...</a></li>
						{% endif %}
						{% unless page.tags == empty %}
						<li class="post-tags">
							<ul>
								{% for tag in page.tags %}
								<li><a href=""><span>#</span>{{ tag }}</a></li>{% if forloop.last == false %},{% endif %}
								{% endfor %}					
							</ul>
							{% if page.keywords %}
								<span class="hidden" itemprop="keywords">{{ page.keywords }}</span>
							{% endif %}
						</li>
						{% endunless %}
					</ul>	
				</aside>
				<article>
					<header>
						<h1><a href="{{ page.url }}" itemprop="headline">{{ page.title }}</a></h1>
					</header>
					<section itemprop="articleBody">
						{{ content }}				
					</section>
					{% if page.comments %}
					<footer id="disqus_thread">
						<noscript>Por favor, habilite JavaScript para ver os comentários. <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
					</footer>
					{% endif %}
				</article>
			</section>

			{% if page.comments %}
				<section id="disqus-power">
					<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
				</section>
			{% endif %}

		</section>

	</div>
	{% if page.comments %}
		<script type="text/javascript">
		    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		    var disqus_shortname = 'loopinfinito'; // required: replace example with your forum shortname
		    var disqus_identifier = '{{page.id}}';
		    // var disqus_developer = 1;

		    // callback do Disqus
		    function disqus_callback() {
		    	// modifica o título da caixa de comentários
		    	$('#dsq-reply h3').html('Comentários')

		    	//
		    	// $('#dsq-comments').find('span.dsq-like-thumb').css({ position: 'relative', bottom: '5px' })
		    }

		    /* * * DON'T EDIT BELOW THIS LINE * * */
		    (function() {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);

		        // comment count
		        var s = document.createElement('script'); s.async = true;
		        s.type = 'text/javascript';
		        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
		        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
		    })();
		</script>
	{% endif %}
</body>
</html>