<!doctype html>
<html lang="pt-BR">

{% include head.html %}

<body>

	{% include search.html %}
	{% include links.html %}

	<div id="wrapper">

		{% include nav.html %}

		<section id="content">

			<section class="post-container" itemscope itemtype="http://schema.org/BlogPosting">
				<span class="hidden" itemprop="publisher">Loop Infinito</span>
				<aside class="post-meta">
					<ul>
						<li class="post-data">
							<span class="icon-aside"></span>
							<time itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%d/%m/%Y" }}</time>
						</li>
						<li class="post-autor">
							<span class="icon-aside"></span>
							<a href="{{ page.author_profile }}" data-link="{{ page.author_link }}" title="{{ page.author }}" alt="{{ page.author }}" rel="author" itemprop="author" onclick="_gaq.push(['_trackEvent', 'post_author', 'Post View', '{{ page.author }}'])">{{ page.author }}</a>
						</li>
						{% if page.comments %}
						<li class="post-comentarios">
							<span class="icon-aside"></span>
							<a href="{{ page.url }}#disqus_thread" data-disqus-identifier="{{page.id}}" itemprop="interactionCount" onclick="_gaq.push(['_trackEvent', 'post_comments', 'Post View', '{{ post.url }}'])">Carregando...</a>
						</li>
						{% endif %}
						{% unless page.tags == empty %}
						<li class="post-tags">
							<span class="icon-aside"></span>
							<ul>
								{% for tag in page.tags %}
								<li><a href="/tag/{{ tag }}"><span>#</span>{{ tag }}</a></li>{% if forloop.last == false %},{% endif %}
								{% endfor %}
							</ul>
							{% if page.keywords %}
							<span class="hidden" itemprop="keywords">{{ page.keywords }}</span>
							{% endif %}
						</li>
						{% endunless %}
					</ul>
				</aside>
				<article>
					<header>
						<h1><a href="{{ page.url }}" itemprop="headline">{{ page.title }}</a></h1>
					</header>
					<section itemprop="articleBody">
						{% if page.image and (page.has_inner_image == null or page.has_inner_image == true) %}
							<figure>
								<img itemprop="thumbnailUrl" src="/{{ page.image }}" class="post-image" alt="{{ page.title | strip_html }}" title="{{ page.title | strip_html }}" width="700" height="432" />
							</figure>
						{% elsif page.image %}
							<meta itemprop="thumbnailUrl" content="{{ site.url }}/{{ page.image }}" />
						{% endif %}
						{{ content }}
						{% if page.related %}
							<aside class="fonte">
								<h3>Referência</h3>
								<ul>
								{% for rel in page.related %}
									<li itemprop="mentions" itemscope itemtype="http://schema.org/Thing">→
										<a itemprop="url" href="{{ rel.url }}" alt="{{ rel.title }}" title="{{ rel.title }}">
											<span itemprop="name">{{ rel.title }}</span>
										</a>
										{% if rel.from %}
											<span class="comment">// {{ rel.from }}</span>
										{% endif %}
									</li>
								{% endfor %}
								</ul>
							</aside>
						{% endif %}
					</section>
					{% if page.comments %}
					<footer id="disqus_thread">
						<noscript>Por favor, habilite JavaScript para ver os comentários. <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
					</footer>
					{% endif %}
				</article>
				<div id="post-number">
					{% for post in site.posts %}
					{% if post.title == page.title %}#{{ forloop.rindex }}{% endif %}
					{% endfor %}
				</div>
			</section>

		</section><!-- end #content -->

	</div><!-- end #wrapper -->

	{% if page.comments %}
	<script>

	    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	    var disqus_shortname = 'loopinfinito'; // required: replace example with your forum shortname
	    var disqus_identifier = '{{page.id}}';
	    // var disqus_developer = 1;

	    // callback do Disqus
	    function disqus_callback() {
	    	// modifica o título da caixa de comentários
	    	$('#dsq-reply h3').html('Comentários')
	    }

	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);

	        // comment count
	        var s = document.createElement('script'); s.async = true;
	        s.type = 'text/javascript';
	        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
	        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	    })();

	</script>
	{% endif %}
	{% include scripts-default.html %}
	<script>

		// .post-meta flutuando
		// o .post-meta fica visível enquanto o post estiver visível
		$(window).scroll(function(event) {

			// vars
			var $postContainer = $('.post-container')
			var $postMeta = $('aside.post-meta')
			var $postBase = $('aside.fonte')

			// caso o post não tenha referência, usa o <footer> como base
			if ($postBase.length == 0) {
				$postBase = $('article footer')
			}

			// zona 1
			// scroll acima do início do post
			if ($(window).scrollTop() < $postContainer.offset().top + 5) {
				$postMeta.removeClass('post-meta-fixed')
			}
			// zona 2
			// scroll entre o início do post e início da fonte do post menos a altura do .post-meta
			else if ($(window).scrollTop() >= $postContainer.offset().top && ($(window).scrollTop() < $postBase.offset().top - $postMeta.height() + 5)) {
				$postMeta
					.addClass('post-meta-fixed')
					.css('top', 0)
			}
			// zona 3
			// após a zona 2
			else {
				var topNew = $postBase.offset().top - $postMeta.height() - $('article').offset().top
				$postMeta
					.removeClass('post-meta-fixed')
					.css('top', topNew)
			}
		})

	</script>
</body>
</html>