<!doctype html>
<html lang="pt-BR">

{% include head.html %}

<body>

	{% include links.html %}

	<div id="wrapper">

		{% include nav.html %}

		<section id="content">

			<h2 class="tagged">Posts com <a class="tag" href="/tag/{{ page.tag }}/"><span></span>{{ page.tag }}</a></h2>

			{% for post in site.posts %}
			{% for tag in post.tags %}
			{% if tag == page.tag %}
			<section class="post-container" itemscope itemtype="http://schema.org/BlogPosting">
				<span class="hidden" itemprop="publisher">Loop Infinito</span>
				<aside class="post-meta">
					<ul>
						<li class="post-data">
							<span class="icon-aside"></span>
							<time itemprop="datePublished" datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%d/%m/%Y" }}</time>
						</li>
						<li class="post-autor">
							<span class="icon-aside"></span>
							<a href="{{ post.author_link }}" title="{{ post.author }}" alt="{{ post.author }}" rel="author" itemprop="author">{{ post.author }}</a>
						</li>
						{% if post.comments %}
						<li class="post-comentarios">
							<span class="icon-aside"></span>
							<a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{post.id}}" itemprop="interactionCount">Carregando...</a>
						</li>
						{% endif %}
						{% unless post.tags == empty %}
						<li class="post-tags">
							<span class="icon-aside"></span>
							<ul>
								{% for tag in post.tags %}
								<li><a href="/tag/{{ tag }}"><span>#</span>{{ tag }}</a></li>{% if forloop.last == false %},{% endif %}
								{% endfor %}
							</ul>
							{% if post.keywords %}
							<span class="hidden" itemprop="keywords">{{ post.keywords }}</span>
							{% endif %}
						</li>
						{% endunless %}
					</ul>
				</aside>
				<article>
					<header>
						<h1><a href="{{ post.url }}" itemprop="headline">{{ post.title }}</a></h1>
					</header>
					<section>
						{% if post.image %}
						<figure>
							<a href="{{ post.url }}">
								<img itemprop="thumbnailUrl" src="/{{ post.image }}" alt="{{ post.title | strip_html }}" title="{{ post.title | strip_html }}" />
							</a>
						</figure>
						{% endif %}
						<p itemprop="description">{{ post.resumo }}</p>
						<a href="{{ post.url }}" class="leia-mais" itemprop="url">Continue lendo →</a>
					</section>
				</article>
			</section>
			{% endif %}
			{% endfor %}
			{% endfor %}

		</section><!-- end #content -->

	</div><!-- end #wrapper -->

	{% include disqus-preview.html %}
	{% include scripts-default.html %}
	{% include post-meta-flutuante.html %}

</body>
</html>