<!DOCTYPE HTML>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8" />
	<title>Loop Infinito</title>
	<link rel="icon" type="image/png" href="/images/favicon.png" />
	<link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/l8p" title="Loop Infinito" />
	<link rel="stylesheet" type="text/css" href="/styles/blog.css" media="all" />
	<link rel="stylesheet" type="text/css" href="/styles/twilight.css" media="all" />
	<script type="text/javascript" src="/scripts/jquery.min.js"></script>
	<script type="text/javascript" src="/scripts/rainbow-custom.min.js"></script>	
	<script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-27591633-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	<div id="wrapper">
		<header id="main">
			<h1><a href="/" id="logo">Loop Infinito</a></h1>
			<nav>
				<ul>
					<li><a href="/">Posts</a></li>
					<li><a href="/projetos">Projetos</a></li>
					<li><a href="/sobre">Sobre</a></li>
					<li><input type="search" placeholder="Busca"></li>
				</ul>
			</nav>
		</header>