<ul id="links">
	<li class="twitter">
		<div><a href="http://twitter.com/loopinfinito"><img src="/images/icons/twitter.png" alt="" width="26" height="19" /></a></div>
		<span>siga o <strong>Twitter</strong></span>
	</li>
	<li class="fork">
		<div><a href="https://github.com/loopinfinito/loopinfinito.com.br"><img src="/images/icons/fork.png" alt="" width="21" height="29" /></a></div>
		<span>fork me on <strong>GitHub</strong></span>
	</li>
	<li class="rss">
		<div><a href="http://feeds.feedburner.com/l8p"><img src="/images/icons/rss.png" alt="" width="20" height="19" /></a></div>
		<span>assine o <strong>Feed</strong></span>
	</li>
</ul>