<meta property="og:url" content="{{ var_url }}" />
<meta property="og:locale" content="pt_BR" />
<meta property="og:site_name" content="Loop Infinito" />
<meta property="og:title" content="{{ var_title }}" />
<meta property="og:description" content="{{ var_description }}" />
<meta property="og:image" content="{{ var_image }}" />

{% if page.layout == 'post' %}
	<meta property="og:type" content="article" />
	<meta property="article:author" content="{{ page.author_facebook }}" />
	<meta property="article:publisher" content="https://www.facebook.com/l8pinfinito" />
	<meta property="article:published_time" content="{{ page.date | date: '%Y-%m-%d' }}" />
	<meta property="article:tag" content="{% for tag in page.tags %}{{ tag }}{% if forloop.last == false %},{% endif %}{% endfor %}" />
	<meta property="fb:profile_id" content="{{ page.author_facebook }}" />
{% else %}
	<meta property="og:type" content="blog" />
{% endif %}
