<script>

	$(document).ready( function(){

		// comportamento do menu twitter/fork/rss
		$('#links a').hover( function(){
			$(this).parent().siblings('span').addClass('show')
		}, function(){
			$(this).parent().siblings('span').removeClass('show')
		})

		// substitui o link do Google+ pelo link do autor (geralmente twitter)
		$('.post-autor a').each( function(){
			$(this).attr( 'href', $(this).attr('data-link') )
		})

		// dispara um evento do Google Analytics para qualquer erro JS
		$(window).on( 'error', function( event ){
			var errorMsg = '[Line ' + event.lineno + '] ' + event.message;
			_gaq.push(['_trackEvent', 'Error', event.filename, errorMsg]);
		})

		// google custom search:
		var $inputSearch = null;

		var toggleSearch = function(){

			if( $('#search').hasClass( 'show' ) ){
				hideSearch()
			} else {
				$('#search').addClass( 'show' )
				$inputSearch.focus()
			}
		}

		var hideSearch = function() {
			$('#search').removeClass( 'show' )
		}

		// polling para detectar quando o form do google search foi carregado
		googleSearchPolling = setInterval( function(){

			$inputSearch = $('#search input[type=text]')

			if( $inputSearch.length > 0 ){

				$inputSearch
					.attr( 'placeholder', 'Digite sua busca' )
					.blur( function(){
						hideSearch()
						$inputSearch.val('')
					})
					.keydown( function( event ){
						if( event.keyCode == 13 ){ // enter key
							hideSearch()
						}
					})

				// botao de busca
				$('.search-button').click( function(){
					toggleSearch()
					_gaq.push(['_trackEvent', 'search', 'Botão de busca', 'Botão de busca']);
				})

				clearInterval( googleSearchPolling )
			}
		}, 200 )
	})

</script>