<script>

	$(document).ready( function(){

		// comportamento do menu twitter/fork/rss
		$('#links a').hover( function(){
			$(this).parent().siblings('span').addClass('show')
		}, function(){
			$(this).parent().siblings('span').removeClass('show')
		})

		// substitui o link do Google+ pelo link do autor (geralmente twitter)
		$('.post-autor a').each( function(){
			$(this).attr( 'href', $(this).attr('data-link') )
		})

		// dispara um evento do Google Analytics para qualquer erro JS
		$(window).on( 'error', function( event ){
			var errorMsg = '[Line ' + event.lineno + '] ' + event.message;
			_gaq.push(['_trackEvent', 'Error', event.filename, errorMsg]);
		})

		// polling para detectar quando o form do google search foi carregado
		googleSearchPolling = setInterval( function(){

			$input = $('#search input[type=text]')

			if( $input.length > 0 ){
				$input.attr( 'placeholder', 'Digite sua pesquisa aqui' ).focus()
				clearInterval( googleSearchPolling )
			}
		}, 200)

	})

</script>