<!DOCTYPE HTML>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8" />
	<title>Loop Infinito</title>
	<link rel="stylesheet" type="text/css" href="/styles/blog.css" media="all" /> 
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-27591633-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	<div id="wrapper">
		<header id="main">
			<h1><a href="/" id="logo">Loop Infinito</a></h1>
			<nav>
				<ul>
					<li><a href="#">Posts</a></li>
					<li><a href="#">Projetos</a></li>
					<li><a href="#">Sobre</a></li>
					<li><input type="search" placeholder="Busca"></li>
				</ul>
			</nav>
		</header>
		<section id="content">

			<section class="post-container">
				<aside class="post-meta">
					<ul>
						<li class="post-data">{{ page.date | date: "%d/%m/%Y" }}</li>
						<li class="post-autor"><a href="{{ page.author_link }}">{{ page.author }}</a></li>
						<li class="post-comentarios"><a href="#">5 comentários</a></li>
						{% unless page.tags == empty %}
						<li class="post-tags">
							<ul>
								{% for tag in page.tags %}
								<li><a href=""><span>#</span>{{ tag }}</a></li>,
								{% endfor %}					
							</ul>
						</li>
						{% endunless %}
					</ul>					
				</aside>
				<article>
					<header>
						<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
					</header>
					<section>						
						{{ content }}						
					</section>
				</article>
			</section>
		</section>
	</div>
</body>
</html>